* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: beige;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.description {
    margin-left: 10px;
}
.ingredients {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
}
.method {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
}
.list {
    margin-left: 30px;
}
.home {
    font-size: 50px;
    height: auto;
    width: 160px;
    padding: 10px;
    background-color: chocolate;
    border: 5px solid brown;
    border-radius: 20px;
    margin: 30px;
}
.recipe-links {
    font-size: 20px;
    margin-left: 30px;
}
.a-s {
    color: red;
}
.las {
    color: chocolate;
}